[2016-10-11 19:10] MeepyMay opened #5 "Update ReadMe and Code"
Hi @chamika ... @rosariorobinson and I are trying to prepare for GHC Open source day and we need help with the ReadME. Is the current ReadMe updated? The goal is to environment ready on a USB in case there are WiFi issues.

Is it possible to have README updated and submit a PR with any additional GSoC code by Friday or Saturday (10/14 or 10/15 respectively) at the latest? We really need your help.

[2016-10-12 02:51] chamika commented on #5
As far as I remember the README is up to date. I'll go through the file again and make changes if necessary.

Last few weeks I was trying to convert the code to work with xcode 8 and swift 3.  But couldn't complete that. After the auto conversion it appears some build errors. So it's better to stay with xcode 7 build which is already pushed to repo.

If you have any issues please let me know.

[2016-10-16 15:07] chamika commented on #5
@MeepyMay @rosariorobinson
The code has all the implementation in the GSoC period.

Do you need any more changes done to README? It has all the information necessary on getting started. If you need any more changes, please let me know.

[2016-11-24 17:03] chamika opened #7 "Implement Sexual Assault Awareness Screen(s)"
App should support all the features which are currently available in FirstAide-Android App.
Therefore we need to develop Sexual Assault Awareness Screens and menu navigation.

Steps
1. Go through the Android application screens before start implementing it. [Source](https://github.com/systers/FirstAide-Android)

2. Submit a design/mockup screens which covers Android App features. But screens shoul

[2016-11-24 17:20] chamika opened #8 "Implement Policies and Glossary screen(s)"
App should support all the features which are currently available in FirstAide-Android App.
Therefore we need to develop Policies and Glossary screens and menu navigation.

Steps
1. Go through the Android application screens before start implementing it. [Source](https://github.com/systers/FirstAide-Android)

2. Submit a design/mockup screens which covers Android App features. But screens should a

[2016-11-25 15:58] #5 closed

[2016-11-30 16:45] kvegesna opened #13 "Circle of Trust Errors"
I have found a small bug, after running the application on my Mac. I have updated XCode to the latest version:8.1 and have come across a bit of a glitch in the program. When I aimed to click the Circle of Trust Button, the application crashed and I received an error message. I made no alterations to the code and  I had no issues in running the application. I have tried to go through the code and f

[2016-11-30 17:22] chamika commented on #13
@kvegesna In which branch do you work on?

[2016-11-30 17:51] kvegesna commented on #13
I have been working on the original application. I simply followed the instructions in the README.md and this was the result after testing. I am working on the master branch.

[2016-11-30 18:03] chamika commented on #13
The lifecycle of the development is like this. First developers make the changes in their repository. If the send development is finished, they send a PR to the /systers/develop branch. After merging the PR, the changes will reflect in the /systers/develop branch. From time to time(depending on the stability or the milestones of the project), we merge develop branch changes to master branch.

If y

[2016-11-30 18:12] kvegesna commented on #13
Yes, I have tried it out with the develop branch and now the error is no longer there. I had suspected that incompatibility with the new XCode could've caused the issue. Thanks for your help!

[2016-11-30 18:28] chamika commented on #13
The bug is invalid. Hence closing the issue

[2016-11-30 18:28] #13 closed

[2016-12-01 22:37] dannymout opened #14 "User Interface improvements that could be made."
I put together a document with some suggestions on improving the UI of the application:
https://docs.google.com/document/d/1l3mhB2zcFP-gjfR9swUWsMauJPhjqR7UzpjH3xeelcc/

[2016-12-02 04:17] chamika commented on #14
These are some of the UI guidelines which are common to all FirstAide applications (iOS, Android, Web)
[https://github.com/systers/FirstAide-Android/issues/49](https://github.com/systers/FirstAide-Android/issues/49). Please go through them and get the idea.

You have suggested 4 improvements
1. Hamburger menu behavior - It is essential to have a hamburger menu. Therefore we cannot remove the menu

[2016-12-02 04:30] sandarumk commented on #14
@dannymout Good work on the improvements! Can you create 3 issues **separately** in the issue tracker as @chamika suggested. You only have to create issues which are described in outcome section in 1, 3 and 4.  When you are creating issues follow the general issue creating guidelines which are given in the READ Me file. Then we will create and publish a task to fix the issues, So that you can clai

[2016-12-03 00:46] dannymout opened #15 "Hamburger menu needs to be accessible from all screens."
Currently, in the app there is a hamburger menu on the main menu/home page. This doesn't need to be accessed from the main menu as there is already a menu on the screen. So, instead I suggest removing the hamburger menu only from the main menu. On the other screens, the back button needs to be replaced with the hamburger menu, so it actually has purpose.

<img src="http://i.imgur.com/Jo7EdQZ.png">

[2016-12-03 00:49] dannymout opened #16 "Icons don’t match the UI of the app"
I've noticed that the icons on the "Circle of Trust" screen don't match the overall UI of the applications. The icons have gradients, something that is not used throughout the application that has a flat UI. Also, they are quite blurry/pixelated when I was testing.

[2016-12-03 00:52] dannymout opened #17 "Blue links on the "Get Help Now" page aren't very visible on the green background."
The blue links on the "Get Help Now" page aren't very visible on the green background. They need to be changed to a colour more visible on the BG.

[2016-12-03 01:15] dannymout commented on #17
I've made pull request #18 that fixes this.

[2016-12-03 02:06] dannymout commented on #16
I made icons that look more modern. I have committed them to #18

[2016-12-03 06:45] sandarumk commented on #16
Hi @dannymout You don't have to fix this. Because we have a separate task to design icons for all the three Android, Web and iOS versions. Because all three should follow a common look and feel. When fixing issues in Github, please communicate with the mentors so that any unnecessary work won't be done. Thank you very much for reporting the task.

[2016-12-03 06:59] sandarumk commented on #17
Hi @dannymout In #14 we have suggested you to create a general issue covering the whole app. Since  you have reported the issue only for a certain section, can you go through the app and find out all the locations where the issue persists?
I even suggested this in the last issue as well. Before you fix an issue and send a PR please contact/ communicate with the mentor on validating the issue and h

[2016-12-03 14:50] dannymout commented on #17
@sandarumk The only screen with this problem is the Get Help Now screen. That's why I made an issue for this specific screen. I've made a new pull request that solves this exact problem: #19.

[2016-12-03 14:51] dannymout commented on #17
@sandarumk @chamika The only screen with this problem is the Get Help Now screen. That's why I made an issue for this specific screen. I've made a new pull request that solves this exact problem: #19.

[2016-12-03 16:02] sandarumk commented on #17
@dannymout Sorry about that. I forgot that we haven't implemented "Policies and Glossary" in the iOS version. We will review your pull request and let you know.

[2016-12-03 16:12] YashBit commented on #8
Hi , please can this task be assigned to me ?

[2016-12-03 16:12] YashBit commented on #7
Hi , please can this task be assigned to me ?

[2016-12-03 18:08] dannymout commented on #17
@sandarumk I will look into writing code that'll automatically set the `tintColor` to yellow for all UITextViews, so when the Policies and Glossary is added I won't need to go back in and change each TextView individually.

[2016-12-03 18:17] chamika commented on #17
https://github.com/systers/FirstAide-iOS/pull/19

[2016-12-03 19:30] chamika commented on #8
You have claimed another issue #7. It's better to start working on a single issue and once it's finished, move on to another. Please select one issue you like to work?

[2016-12-04 01:05] YashBit commented on #8
I would like to go ahead with this one .

[2016-12-04 02:40] #17 closed

[2016-12-04 02:40] #16 closed

[2016-12-04 03:07] dannymout opened #20 "Can't swipe down to the lower cards on "Safety Plan Worksheet""
While testing the app, I noticed that on the screens called "Safety Plan Worksheet" and "Peace Corps Commitment to Victims" both seem to have other yellow cards below the cards already on screen. It seems like I should be able to swipe up to see what is on the card below, but rather, it just doesn't move.

I made a GIF that shows what's happening. Github won't let me attach it, so here is the link

[2016-12-04 04:20] chamika commented on #20
This behavior was proposed by Peace Corps. Refer the linked video in the page https://github.com/systers/FirstAide-Android/issues/49
[Link to the demo video](https://drive.google.com/open?id=0B8cm8EBZg0GaZlNSdFpxeXJWelU) Similar UI component is showing in 2:10

Therefore changing the behavior need to be approved by them.

[2016-12-04 04:24] dannymout commented on #20
@chamika I don't understand, aren't you suppose to be able to see the things on the cards below, I don't think it's normal behaviour.

[2016-12-04 06:24] chamika commented on #8
OK, Go ahead. Before developing anything, show us some mock screens  which you are going to implement

[2016-12-04 06:25] chamika commented on #7
Since @YashBit is working on another issue, this is open to anyone

[2016-12-04 06:36] chamika commented on #20
@dannymout Action cards can be popped out by clicking the content. See this app walkthrough [video](https://youtu.be/K0iRimt26xM?t=119)
It will sit there at the bottom in order to give the idea that the user can tap the content and see further details. So when there is no link, clicking any location within the content area will pop. Hope you get the idea.

[2016-12-04 07:50] chamika commented on #15
@dannymout Can you add screenshots of the current implementation and highlight the hamburger menu?Then the person who tries to fix will get a better understanding of the bug.

Removing back button will remove the back feature when going into multi-levels of screens. It would be great if we have both these features. An interface like having both hamburger and back will be good solution. Refer [UI d

[2016-12-04 21:34] dannymout commented on #15
@chamika Adding arrow buttons would confuse the user, I did read the UI design doc, but I don't think it's a good idea. The user can already access the sub-menus via the hamburger menu. More arrow buttons will overcomplicate the UI.

<img  width="400" src="http://i.imgur.com/kRyhkbs.png">

[2016-12-05 22:26] Isabel-S opened #21 "Personal Security Strategies Button - Bug"
My task for GCI is: Find a bug! [FirstAide - iOS]
The bug is here that when you press the button Personal Security Strategies, it does not open to any page. I am also unsure if this was meant to be a title. If it is, then the format is off and many users may believe that this is a button.
This is similar to the other issues on the buttons Sexual Assault Awareness and Policies and Glossary.
The iss

[2016-12-06 03:37] chamika commented on #21
@Isabel-S That section is not yet implemented since the content was not provided by Peace Corps. Also, Sexual Assault Awareness and Policies and Glossary sections are not implemented.
This is closing because the issue is invalid

[2016-12-06 03:37] #21 closed

[2016-12-06 11:48] Isabel-S opened #22 "Long Texts"
This is a bug I found for the GCI task: Find a bug! [FirstAide - iOS]
When there are long pieces of text where you need to scroll down, some of them start in the middle rather than starting from the first word. This happened in many scenes:

- RADAR
- Tactics of Sexual Predators
- Bystander Intervention
- Safety Plan Basics
- Safety Plan
- Benefits of Seeking Staff Support
- Available Services Aft

[2016-12-07 11:43] YashBit commented on #7
Hi , I have solved the issue . But I cannot find a task own cgi task site which relates to the problem of solving an issue . What should I do ?

[2016-12-07 13:26] YashBit opened #23 "User Interface Enhancements: Suggestions for the UI[FirstAide - iOS]"

[2016-12-07 13:31] YashBit commented on #23
I compiled a list of suggestions for the improvement of the UI and UX for the First Aide App :

https://docs.google.com/document/d/1eznZmBrbtfADQJSnqVTaghhqffJBIXBZsxP20hygnHQ/edit

[2016-12-07 13:41] jacqueline8711 commented on #23
@YashBit Hi, the link you posted does't let everyone access the file. You should probably post one that allows reading access.

[2016-12-07 13:46] YashBit commented on #23
https://docs.google.com/document/d/1eznZmBrbtfADQJSnqVTaghhqffJBIXBZsxP20hygnHQ/edit?usp=sharing

[2016-12-07 15:51] chamika commented on #7
@YashBit , I think you selected the https://github.com/systers/FirstAide-iOS/issues/8 issue. Please use that issue page for communication.

[2016-12-07 16:10] YashBit commented on #8
Ok , Hi  There is no task available for solving issues . What do you suggest ?

[2016-12-07 16:42] YashBit commented on #23
Thanks

[2016-12-07 20:01] chamika commented on #8
@YashBit, You can start with the design first
[https://codein.withgoogle.com/dashboard/tasks/5195875135520768/](https://codein.withgoogle.com/dashboard/tasks/5195875135520768/)

[2016-12-08 04:48] chamika commented on #23
@YashBit Good work!!!. Please find the review of your suggestions

(i) Futile Navigation  &  Confusion - There is a bug in our issue list. Please go through that. #15
(ii) A Larger and better animated HELP ME ! Button - Refer #16
(iii) Proper Spacing In Navigation Bars And Better Text Display - This is valid
(iv) Betterment of the Scroll Views - Refer #22
(v)Display of emergency and contact detail

[2016-12-08 08:17] YashBit opened #24 "Proper Spacing In Navigation Bars"
I am running the app on an Iphone 6s simulator and there were some spacing issues  that existed . Although these are issues which can be easily solved and do not matter much for the functioning of the app ; I thought that these little things contributed to the overall UX .
These exist in almost every subview of the app .

Please check out No 3 Suggestion for pics.
https://docs.google.com/document/

[2016-12-08 08:21] YashBit opened #25 "Display of emergency and contact details in a Table Form"
In the current form , the application has Scrollview this is the most inefficient way  of showing contacts as the user has to discover the 3 contacts that are  present and go back and forth , reading the descriptions to find out who to contact . It should be depicted in a TableView , with easy access to the contact details and a better view of the description of the call details . This will lead t

[2016-12-08 08:21] YashBit commented on #23
Hi I am done .
Can I  solve the other issues ?
'

[2016-12-08 08:27] YashBit commented on #8
I just wanted to get the process clear . After the mockup screens are approved I can go ahead and develop them , or do I just have the task of making the mockup screens asingned to me
?
Thanks.

[2016-12-08 09:25] chamika commented on #23
Yeah, Go on.
Avoid issues tagged with "onhold" label.
Before you start fixing, claim the issue by commenting that you like to work on it.

[2016-12-08 09:43] YashBit commented on #8
Okay , I have claimed this task :
https://codein.withgoogle.com/dashboard/task-instances/5132514576302080/
It says I have to solve a bug , This issue doesn't have a bug label . What should I do  ?

[2016-12-08 12:13] YashBit commented on #8
Hi , Please Can you send me screenshots of the Android app in Policies and Glossary Screen .

[2016-12-08 13:49] jacqueline8711 commented on #8
@YashBit
Here are screenshots of the policy and glossary screens in Android:
![screenshot_20161208-143757](https://cloud.githubusercontent.com/assets/16260112/21012225/488f18c4-bd55-11e6-86bf-811694b14c9c.png)
![screenshot_20161208-143804](https://cloud.githubusercontent.com/assets/16260112/21012226/48baff34-bd55-11e6-9fa2-683327f92cfe.png)
![screenshot_20161208-143842](https://cloud.githubusercon

[2016-12-08 13:55] YashBit commented on #8
Thanks a lot

[2016-12-08 16:32] YashBit commented on #8
<img width="313" alt="screen shot 2016-12-08 at 9 49 17 pm" src="https://cloud.githubusercontent.com/assets/20094677/21018184/f21ce100-bd91-11e6-971d-46fed7960386.png">
<img width="312" alt="screen shot 2016-12-08 at 10 00 39 pm" src="https://cloud.githubusercontent.com/assets/20094677/21018194/f745a608-bd91-11e6-99e3-750deef8016d.png">

[2016-12-08 16:33] YashBit commented on #8
I know , the colour is  a little off , the software that I used wasn't accepting the hex value .
I will keep the Further Resources View the same .
May I go ahead with the development ?

[2016-12-08 18:49] chamika commented on #8
@YashBit I think you have confused GCI tasks. As I mentioned you earlier there is a separate task which covers designing Policies and Glossary screen
[https://codein.withgoogle.com/dashboard/tasks/5195875135520768/](https://codein.withgoogle.com/dashboard/tasks/5195875135520768/)

It's better to claim this task instead of bug fixing task. Because this is not a bug of the app. Therefore we cannot c

[2016-12-09 01:50] YashBit commented on #8
Yes , I understand . I  will surely complete the rest of the mockups . As for the deign task , it has  a beginner tag , So I cannot claim it .
What should I do ?

[2016-12-09 02:39] YashBit commented on #8
<img width="313" alt="screen shot 2016-12-09 at 7 45 15 am" src="https://cloud.githubusercontent.com/assets/20094677/21035682/cc44b25a-bde6-11e6-8369-0ff9b554547b.png">
<img width="315" alt="screen shot 2016-12-09 at 7 45 27 am" src="https://cloud.githubusercontent.com/assets/20094677/21035685/cddc321e-bde6-11e6-9dcd-d98c7a34e268.png">
<img width="311" alt="screen shot 2016-12-09 at 7 54 23 am" sr

[2016-12-09 02:59] YashBit commented on #22
@chamika  Can I solve this bug until then ?

[2016-12-09 03:42] chamika commented on #22
Yes, Go ahead

[2016-12-09 04:59] YashBit commented on #8
@Chamika Are these mockup screens okay ?

[2016-12-09 06:10] jacqueline8711 commented on #15
I'd like to work on this for the "Fix a reported bug" GCI task.
@chamika If I can go ahead, should the screens have the  back arrow buttons and the hamburger menu or only the hamburger menu like @dannymout suggested?

[2016-12-09 06:42] chamika commented on #15
@jacqueline8711 Yes go ahead and send a PR.

Although @dannymout suggested the behavior, Peace Corps already provided the guideline. So both hamburger menu and the arrow buttons should be there. Refer [UI designs](https://github.com/systers/FirstAide-Android/issues/49)

[2016-12-09 06:52] chamika commented on #8
@YashBit I think you have already completed your beginner tasks. That is why you cannot claim the design task.
Mockup screens seem to be OK. We'll publish separate development task in GCI and let you know. Until the task is published and claimed by you, please refrain from developing. We'll add the GCI task link as a comment once it is published.

[2016-12-09 06:53] chamika commented on #15
Make sure all the screens will have the same components and behaviour.

[2016-12-09 19:48] chamika commented on #8
@YashBit I think you have to wait until the design task is completed. Please work on another task.

[2016-12-11 06:52] chamika commented on #15
Bug fixed. Final behavior is both hamburger and buttons will co-exist in all view controllers.

[2016-12-11 06:52] #15 closed

[2016-12-11 12:57] jacqueline8711 commented on #7
These are the designs / mockups I created for the GCI task. They all have the same content as the Android screens except for the "Sexual Harassment" screen. There I made one out of the two Android screens because they both had the same heading.

<img width="375" alt="awareness_menu" src="https://cloud.githubusercontent.com/assets/16260112/21080121/5222916e-bfa7-11e6-8b18-e8b55337add3.png">
<img wi

[2016-12-11 13:04] YashBit opened #29 "Bad Positioning of Action Labels"
This bug is seen in the Safety Plan and in Peace Corps commitments scene .
This is the Action Button in FrameView of the various scenes .
cid:7CB6F9E3-745E-4773-9E46-86140B86FB0
cid:E4D37D8F-828C-43EB-813F-B4FF9A9445B18

[2016-12-11 13:05] YashBit commented on #29
![unknown](https://cloud.githubusercontent.com/assets/20094677/21080250/909b764e-bfd0-11e6-8f12-7f8ee2223ad4.png)
![unknown-1](https://cloud.githubusercontent.com/assets/20094677/21080251/91199f10-bfd0-11e6-9e1f-afd45dc252a9.png)

[2016-12-11 13:05] #29 closed

[2016-12-11 13:07] YashBit opened #30 "Bad Positioning of Action Labels"
This bug is seen in the Safety Plan and in Peace Corps commitments scene .
This is the Action Button in FrameView of the various scenes
![unknown-1](https://cloud.githubusercontent.com/assets/20094677/21080261/c945763e-bfd0-11e6-830c-b0833bcb7231.png)
![Uploading Unknown.png…]()

[2016-12-11 14:04] chamika commented on #30
@YashBit An issue was already raised similar to this issue earlier and it describes the behavior.
Refer: https://github.com/systers/FirstAide-iOS/issues/20
Please go through the issue list(both open and closed) before submitting an issue.

I'm closing the issue because the bug is invalid.

[2016-12-11 14:04] #30 closed

[2016-12-11 14:38] chamika commented on #7
Screens look good. Please find the following modification.
Sexual Harassment section should be separated similar to Android version.

Add a separate button like "Learn more about sexual harassment" and navigate to another screen.
The new screen will have the content of "What is sexual harassment?"

The content can be found from [https://drive.google.com/file/d/0B8cm8EBZg0GaQy1CUkRUOXhWZUE/view](ht

[2016-12-11 15:19] jacqueline8711 commented on #7
These are the separated "Sexual Harassment" screens:
<img width="374" alt="awareness_harassment_1" src="https://cloud.githubusercontent.com/assets/16260112/21081005/62c80506-bfbd-11e6-9c68-18556ffa18f1.png">
<img width="372" alt="awareness_harassment_2" src="https://cloud.githubusercontent.com/assets/16260112/21080970/aa95ae0c-bfbc-11e6-8e51-ac25c5cdb106.png">

[2016-12-11 15:40] YashBit opened #31 "Personal Security Strategies Broken Segue"
Then b
![unknown](https://cloud.githubusercontent.com/assets/20094677/21081123/2eced774-bfe6-11e6-9506-3b07bfaf122c.png)
utton Personal Security Strategy seems to have no segue , or the screen itself is missing.

[2016-12-11 17:22] chamika commented on #7
@jacqueline8711  The designs are fine. Good Work!!!

[2016-12-11 17:25] chamika commented on #7
If you are interested you can work on developing these sections

[2016-12-11 17:37] jacqueline8711 commented on #7
Yes, thank you, I'll start implementing them now. I have already claimed the gci task.

[2016-12-11 18:44] chamika commented on #31
Let me remind you what we instructed earlier. Before posting any issue, go through the issue list in both open and closed areas. This will remove having duplicate issues.
Refer: https://github.com/systers/FirstAide-iOS/issues/21

I'm closing this issue because it is invalid for the same reason as #21

[2016-12-11 18:44] #31 closed

[2016-12-11 23:31] YashBit opened #33 "Cutting of Text In The Hamburger Menu"
This is observed in the Hamburger Menu of the of the app . The text was to long for the menu to display thus they were cut off and thus not properly displayed . This will invariably lead to confusion of the users .

![simulator screen shot 12-dec-2016 4 21 36 am](https://cloud.githubusercontent.com/assets/20094677/21084318/aa5c73ba-c027-11e6-9961-0ba67bc8d32b.png)
![simulator screen shot 12-dec-20

[2016-12-12 03:38] chamika commented on #33
Yes, this needs to be fixed.

[2016-12-12 05:13] YashBit commented on #33
May , I please go ahead with solving this ?

[2016-12-12 16:51] JosephBywater commented on #8
@chamika Here's my finished screens:
![firstaide-policies](https://cloud.githubusercontent.com/assets/5558617/21107900/3499a31e-c08b-11e6-8ed7-93c58e406a5b.png)
![furtherinfo-sub](https://cloud.githubusercontent.com/assets/5558617/21107898/3497353e-c08b-11e6-91ba-658d0f37fc00.png)
![glossary-sub](https://cloud.githubusercontent.com/assets/5558617/21107897/349682b0-c08b-11e6-99a2-f16576ce94bb.png)

[2016-12-13 06:00] chamika commented on #8
@JosephBywater Thank you the designs. I think it would be great to have following changes in mockups

It need to replace the title with navigation bar title. iOS app does not use two titles.
Ex: Further resources - Remove "Further resources" title and replace "Policies and Glossary" with that title.

Glossary buttons should have an indicator to show that they can be expand. Ex: down arrow or simil

[2016-12-13 07:32] JosephBywater commented on #8
Ok, I think I have implemented those changed @chamika

![firstaide-policies](https://cloud.githubusercontent.com/assets/5558617/21131363/3109cb4a-c106-11e6-8988-295fc119df61.png)
![furtherinfo-sub](https://cloud.githubusercontent.com/assets/5558617/21131366/310e77c6-c106-11e6-835f-ba696c952b40.png)
![glossary-sub](https://cloud.githubusercontent.com/assets/5558617/21131365/310e426a-c106-11e6-99fc-

[2016-12-13 12:09] chamika commented on #8
It looks good. Thanks @JosephBywater

[2016-12-13 12:21] chamika commented on #22
Bug is fixed. Hence closing

[2016-12-13 12:32] chamika commented on #8
@YashBit Go ahead and start developing the screens according to @JosephBywater 's designs

[2016-12-14 16:38] YashBit commented on #8
@chamika  Ok , Please could someone send a screenshot of the Glossary Scene with Burglary in particular (Android) . I just want to see how it is implemented in Android .
Thanks

[2016-12-14 16:50] jacqueline8711 commented on #8
@YashBit I hope this helps:

![screenshot_20161214-174359](https://cloud.githubusercontent.com/assets/16260112/21191535/bbbc30e6-c225-11e6-925d-0ba024ac4746.png)
![screenshot_20161214-174353](https://cloud.githubusercontent.com/assets/16260112/21191536/bbe33aba-c225-11e6-9297-3ea6e6f32d4a.png)

[2016-12-14 16:51] YashBit commented on #8
@jacqueline8711  Thanks

[2016-12-14 16:52] chamika commented on #8
I think you might need to go through the other topics as well. So it will be easy for you to setup Android Environment. Follow the repo to setup it. Readme is pretty descriptive. [https://github.com/systers/FirstAide-Android](https://github.com/systers/FirstAide-Android)

If you have difficulties let us know.

[2016-12-16 15:34] jacqueline8711 opened #37 "login screen: subtitle cut off"
The subtitle ("A Safety Resource for Peace Corps Volunteers") is cut off on the sides. This happens with all iPhone sizes.
![firstaide-ios-loginbug](https://cloud.githubusercontent.com/assets/16260112/21267753/ebf7e4c6-c3ab-11e6-8b51-3d4567e770a7.jpg)

It should be displayed in two lines like it is in the main menu:
![howitshouldbe](https://cloud.githubusercontent.com/assets/16260112/21267783/1feb

[2016-12-16 15:48] jacqueline8711 opened #38 "Text left out in Button on iPhone 5"
The label on the button "Coping with Unwanted Attention Strategies" in the Safety Tools menu is not fully readable on iPhone 5:
<img width="163" alt="firstaide_bug_2" src="https://cloud.githubusercontent.com/assets/16260112/21268346/a9356b6a-c3ae-11e6-9ad3-0c8898d14cfd.png">
It should automatically make a line break if the screen is too small for it to fit into one line. To fix this look at the bu

[2016-12-16 15:55] jacqueline8711 opened #39 "Text overflowing in Get Help Now screen (iPhone 5)"
The text in the cards Post Staff in the Get Help Now screen are slightly overflowing on an iPhone 5. This is not an issue for the Other Staff cards so they probably contain the solution to the issue.

<img width="317" alt="firstaide_bug" src="https://cloud.githubusercontent.com/assets/16260112/21268631/d7e5dc00-c3af-11e6-9934-c8225c769c2a.png">

[2016-12-16 16:12] chamika commented on #37
Yes this should be fixed.

[2016-12-16 16:15] chamika commented on #38
Yes, the text should be wrapped. Thank you reporting the bug.

[2016-12-17 09:22] jacqueline8711 commented on #38
Can I fix this?

[2016-12-17 10:18] chamika commented on #38
Yes go ahead.

[2016-12-17 11:58] chamika commented on #38
Bug fixed. Hence closing issue

[2016-12-17 11:58] #38 closed

[2016-12-21 02:34] erikatan opened #41 "UI Improvement: contacts for circle of trust"
I made a google doc describing the issue. Here is the link: https://docs.google.com/document/d/1ngnuyt1f-MZMR2XC8z82kdpI_ERLKFQ_aotRAXTfPr8/edit?usp=sharing

[2016-12-21 06:37] chamika commented on #41
@erikatan Thank you for your suggestions.

Please find the feedback for the suggestions
Current Behavior
1. In real device clicking Help Me Button will navigate to message app. There user can see all the numbers. This cannot be viewed from simulator.

Suggestions
1. Edit Screen : There can be numbers which are not picked from the contacts. In this scenario we don't have a contact name to show. The

[2016-12-21 20:32] erikatan opened #42 "Allow Name Input for Edit Screen"
Currently, there is no way for the user to enter the name of a contact for the Circle of Trust. The text boxes in the Edit Screen should be changed so that the user can enter a name followed by the phone number. The user should also be able to input a number only for contacts with no names.

[2016-12-21 20:35] erikatan opened #43 "Circle of Trust Add-Ons"
1. There should be labels below each character icon in the Circle of Trust to display each person's name. This will help the user remember who to contact in the case of an emergency.
2. An information button can be added which leads to a screen with instructions for how to use the app effectively. It should also inform the user how the Circle of Trust messaging system works to clear confusion.

[2016-12-21 20:36] erikatan commented on #41
@chamika I have created the new issues. Thanks!

[2016-12-22 17:42] chamika commented on #43
Refer: #41 for mock screenshots

[2016-12-22 17:43] chamika commented on #41
Thank you for reporting issues

[2016-12-22 17:43] #41 closed

[2016-12-22 19:40] ronakdev opened #44 "UI Improvements"
# Help Page
After using the app for 2 days (getting acquiainted with it and such) I realized that the app lacks on key feature: A help page. While the help page should not show automatically, there should definietly be a help page within the app that shows the main features of the app are.

For example, when you download the Google Drive app for the first time, it shows you a basic overview of all

[2016-12-22 22:16] ronakdev commented on #44
To clarify, this was done as part of GCI 2016

[2016-12-23 03:56] sandarumk commented on #44
@ronakdev Thank you very much for your valuable ideas. One thing to note is that these come under functionality improvements rather than the user interface improvements.  The reason we have not included a link to the home page is because we can access all the items in the home screen with the hamburger menu option. This is there for users to directly access the pages they want without going back t

[2016-12-23 04:01] ronakdev commented on #44
For number one, the addition of a home menu item is quite simple to add, and will be quite useful — even to experienced users. It won't be a deterrent and will certainly not go under appreciated. I acknowledge that the users of the app will not be ordinary people, but including a tutorial screen will still help users familiarise themselves with the app.

[2016-12-23 04:22] sandarumk commented on #44
A tutorial screen is useful if the users has something to do in the app because they have to figure out how to do it. We already have an unpublished task to add (design and implement) a tutorial similar to Android app to the circle of trust functionality (Which will be published soon for GCI). But for the whole app it is unnecessary because they have to just go and read the information. The only s

[2016-12-23 04:30] ronakdev opened #45 "Suggestion: Disable Swipeback to reveal menu; make swipeback go back"
In the app, if you swipe back, (meaning you drag your finger from the left side of the screen to the right, it currently brings up the hamburger menu. This is impractical because users of the app may find themselves simply trying to get back to the page they were just in.

This concept of swiping back is very common within apps, for example in the native Safari app users swipe back to go back one

[2016-12-23 04:40] chamika commented on #44
Since the improvements are not acceptable, closing the issue

[2016-12-23 04:40] #44 closed

[2016-12-23 04:57] chamika commented on #45
@ronakdev These are two concepts and we have to select one over the other.
In Safari there is no hamburger menu and going back from swipe is straight forward.
But FirstAide has a hamburger menu which enables the user to navigate to almost any screen in the app. So instead of going back, he/she can go to any screen with a swipe and a tap. Also, there are two buttons for going back and forward if ne

[2017-01-04 00:53] ronakdev commented on #37
@chamika I'll be taking a look at this bug and will try to get it fixed within a week or so

[2017-01-04 09:05] chamika commented on #37
@ronakdev Yes, go on. If you encounter any issues, let us know.

[2017-01-08 09:31] jacqueline8711 commented on #8
Can I work on this? I claimed the task for developing these screens because @YashBit did not seem to work on it after all.

[2017-01-08 10:37] YashBit commented on #8
@jacqueline8711 Hi , I did try a lot to solve the problem , but I failed to understand how to populate the UITextView . But I don't have any problem with  you being assigned to the task . All the best !

[2017-01-08 10:58] jacqueline8711 commented on #8
Thanks, @YashBit ! I'll go ahead with it then.

[2017-01-08 14:24] chamika commented on #8
@jacqueline8711 OK go ahead

[2017-01-09 12:20] fennecus-z commented on #39
Will attempt to fix

[2017-01-10 22:37] tiferrei commented on #37
Hey, got this fixed, will open a PR soon.

[2017-01-10 23:02] tiferrei commented on #33
I'll start working in this.

[2017-01-10 23:31] tiferrei commented on #33
Fixed, PR coming in a second.

[2017-01-11 04:05] chamika commented on #37
@ronakdev Are you still working on this issue?

[2017-01-11 11:19] ingridt123 opened #49 "Deprecated code (in iOS 8.0)"
App still works but this line of code was deprecated in iOS 8.0.
Code is in loadContactPhotos function within CircleOfTrustViewController class.

<img width="690" alt="screen shot 2017-01-11 at 7 15 25 pm" src="https://cloud.githubusercontent.com/assets/19776302/21846577/bbd8951a-d832-11e6-9bd3-d09221e286fc.png">

[2017-01-11 11:22] tiferrei commented on #49
Can I work on this? (already have it fixed)

[2017-01-11 11:23] ingridt123 commented on #49
ok thanks @tiferrei!

[2017-01-11 12:30] tiferrei commented on #49
No problem @ingridt123! :)

[2017-01-11 13:00] tiferrei commented on #49
Done, PR submitted.

[2017-01-11 19:15] tiferrei opened #51 "Policies and Glossary not accessible"
Hello there,
I have noticed that even though there are buttons and events for the Policies and Glossary" menu tab and button, these do not actually link to any view controller or information.

These should not be part of the `dataSource` until they are usable. I understand this is in development stage, however, this is also present in the master branch, which based on your master - develop model,

[2017-01-11 19:30] jacqueline8711 commented on #51
Hi, I'm currently developing these screens and I will be able to finish them in about two days. I think it can stay the way it is until then.

[2017-01-11 19:32] tiferrei commented on #51
Personally I don't believe it to be the best of the ideas, floating code is never good, you should either get the menu and main view code on your fork and work on it, or move it to a feature branch, but that's more up to the admins to decide.

[2017-01-11 22:34] #49 closed

[2017-01-11 22:54] ronakdev commented on #37
@chamika I fell sick but had fixed it, but @tiferrei's fix has already been merged, so there is no point.

[2017-01-12 05:36] chamika commented on #37
@ronakdev. It's OK. I have merged the PR of @tiferrei. Hence closing the issue.

[2017-01-12 05:36] #37 closed

[2017-01-12 06:29] chamika commented on #51
@tiferrei This is not in production level. We maintain a stable code in the master branch. From time to time, we merge develop branch code to the master branch. Since this is not in live, having that kind of behavior is acceptable. Also, this was developed under GSoC 2016, it was a requirement to have all the UI components similar to Android. That is why these elements are placed in such manner.

[2017-01-12 06:29] #51 closed

[2017-01-12 14:51] chamika commented on #39
Yes go on

[2017-01-12 15:06] #45 closed

[2017-01-12 15:07] chamika commented on #33
Closing issue since this was fixed

[2017-01-12 15:07] #33 closed

[2017-01-12 15:09] chamika commented on #23
This was created for discussing the suggestions. Separate issues were created for the valid enhancements. Hence closing the issue

[2017-01-12 15:09] #23 closed

[2017-01-12 15:11] chamika commented on #14
This issue was created for discussing the valid enhancements. Separate issues were created. Hence closing the issue

[2017-01-12 15:11] #14 closed

[2017-01-12 15:17] #7 closed

[2017-01-13 16:49] tiferrei opened #54 ""Peace Corp's Commitments" view not fully accessible on 4S"
The "Peace Corp's Commitments" is not fully accessible on the iPhone 4S' screen, although the main content is "swipeable" it does not allow the user to reach for the lower card, a touch event on the lower orange button is not recognised.

Screenshot:
![simulator screen shot 13 jan 2017 16 46 08](https://cloud.githubusercontent.com/assets/8849915/21937699/3a79fa5c-d9b0-11e6-9dde-ea5ccd83d485.png)

[2017-01-13 17:08] chamika commented on #54
@tiferrei if you tap on the content ( text in the dark green area), the yellow card will pop up and you can access the content. Please go through the closed issues to get the reasoning behind this.

[2017-01-13 17:08] #54 closed

[2017-01-13 17:15] tiferrei commented on #54
Just for the record and as general feedback, that makes zero sense, the user would never think like that. UI is just like a joke, if you have to explain it, it's crap.

[2017-01-13 18:07] tiferrei opened #55 ""Circle Of Trust" ignores declined contacts access"
Even though I have declined the app access to my contacts, it still reads it and perfectly presents/picks numbers from my contacts. There's something seriously wrong in here, if this is not fixed, it won't ever reach the App Store, there's no way Apple's accepting this.

Proof: [Bug.zip](https://github.com/systers/FirstAide-iOS/files/704984/Bug.zip)

[2017-01-13 18:08] chamika commented on #54
Noted. https://github.com/systers/FirstAide-iOS/issues/20

[2017-01-13 18:16] tiferrei commented on #54
I understand it, you're following orders, but the user won't understand that, the user won't go "Oh of course, it's because the android app works like this.", he will just say "Why the hell did you make it like that?"
And if this also happens on the android app, maybe it's time to also change it.

[2017-01-13 18:16] chamika commented on #55
Good finding, can you suggest the correct behavior?

[2017-01-13 18:20] tiferrei commented on #55
This one blows me a bit out of the water to be honest, in theory, this is something we can't control, Apple private APIs, the PermissionAccess delegate prompts the user when we need access, and then relays the data if we allow it, this looks like an iOS bug.

What we can do though, is check if we have permission to access the contacts, there's a public API for that, and if we don't well just hide

[2017-01-13 18:49] chamika commented on #55
Anyway, it seems like we need to avoid showing contacts if the user rejects the permission. So this is a valid bug.

[2017-01-13 18:51] tiferrei commented on #55
Seems simple enough, request the access status to the manager, if it's blocked, hide the button.
Can I work on this, please?

[2017-01-13 19:00] chamika commented on #55
Yes, go ahead. If you are not completed the bug fixing task in GCI, you can claim that and submit this fix.

[2017-01-14 07:17] ingridt123 opened #56 "Text does not fit in several Sexual Assault Awareness screens (iPhone 5 and 5s)"
I have found 5 examples where the explanations/answers on the Sexual Assault Awareness screens don't fit in the box.

iPhone 5/5s
<img width="318" alt="1 what is sexual assault" src="https://cloud.githubusercontent.com/assets/19776302/21953242/6c214a08-da6c-11e6-8668-9fce970b7aae.png">
<img width="319" alt="2 common question 3" src="https://cloud.githubusercontent.com/assets/19776302/21953243/6c22

[2017-01-15 09:53] jacqueline8711 commented on #56
@ingridt123 What do you mean? All the dark green boxes are vertically scrollable if there is too much text to fit in there.

[2017-01-15 10:06] jacqueline8711 commented on #22
There are still screens where this bug is not fixed, i.e. scroll views start at the bottom (tested on iPhone 5):

- RADAR, Step 3
- Safety Plan (Physical Safety , Workplace, Transportation + all pop-ups)

Can I fix this?

[2017-01-15 10:07] ingridt123 commented on #56
@jacqueline8711 the scroll doesn't always work on the older iPhone versions

[2017-01-15 10:12] ingridt123 opened #58 "Cannot click on "Personal Security Strategies" button"
Cannot click on "Personal Security Strategies" button in the Safety Tools section.

[2017-01-15 10:15] jacqueline8711 commented on #56
But the scroll views in the rest of the screens work? I tested it on the iPhone 5 and 5s emulator and there it works fine...

[2017-01-15 10:16] ingridt123 commented on #56
Ok maybe it's just an issue on my side. Thanks for pointing it out!

[2017-01-15 10:16] #56 closed

[2017-01-15 10:19] jacqueline8711 commented on #56
@ingridt123 Did you run it on a real device or also only on the emulator?

[2017-01-15 10:24] jacqueline8711 commented on #58
Hi, please check all existing issues first, also the ones that are closed. Refer to #31 and #21

[2017-01-15 11:01] tiferrei commented on #55
PR submitted.

[2017-01-15 11:08] ingridt123 commented on #58
Sorry then perhaps an enhancement idea -- change color of buttons of sections not yet built so that users know that it is not a bug.

[2017-01-15 17:28] sandarumk commented on #58
@ingridt123 Please open a separate issue if you are suggesting new improvements. Do not reopen and use the same issue reference.

[2017-01-15 17:57] chamika commented on #22
Yes. go ahead.

[2017-01-15 22:34] #58 closed

[2017-01-15 22:34] ingridt123 opened #61 "Change color of buttons of undeveloped sections"
Currently there are certain sections (e.g.  )

[2017-01-25 03:37] chamika commented on #8
This is complete. Hence closing the issue

[2017-01-25 03:37] #8 closed

[2017-02-26 02:46] dannymout commented on #20
I'm going to close this. But, whoever came up with this UI clearly doesn't know what they're doing, it's quite incoherent, confusing.

If I have to tap to access the lower cards, there should be some visual indication so the user knows this; as you can see I didn't understand.

[2017-02-26 02:46] #20 closed

[2017-03-05 06:32] JuliaWozniak opened #64 "Five View Controllers that can be refactored into one"
several View Controllers  (First Aide, Safety Tools, Support Services and two others) are created like scroll views with buttons

there is a better solution - table views that can be created dynamically.
So that there will be four less VC in the Storyboard and everything will be more reusable.

[2017-03-05 06:34] JuliaWozniak commented on #64
and I can make it

[2017-03-13 22:55] rathishubham7 opened #65 "Writing code for the hard coded Stack Views."
at multiple places where horizontal stack view are implemented . Instead segmented control can be implemented so that views can be changes by single swipe .

 can should i submit a PR for this ?

[2017-03-14 05:40] rathishubham7 commented on #65
@chamika

[2017-03-22 07:30] rathishubham7 commented on #65
I'm a GSoC student . can i send a PR for this issue ??
<img width="1386" alt="screen shot 2017-03-22 at 12 59 21 pm" src="https://cloud.githubusercontent.com/assets/16849485/24186700/7ad3ff06-0eff-11e7-86df-de7e6862277a.png">

[2017-03-26 05:17] #55 closed

[2017-03-26 05:22] #39 closed

[2017-03-26 05:25] chamika commented on #65
@rathishubham7 Can you do the change for a single horizontal stack view and send a PR? If the change is OK we'll do the same for the others.

[2017-03-26 05:27] chamika commented on #64
Good suggestion. Send a PR

[2017-03-26 05:28] rathishubham7 commented on #65
ok great. i'll do it asap.

[2017-04-23 08:35] connienguyen commented on #42
is anyone working on this? Can I work on it?

[2018-04-20 00:26] MeepyMay opened #70 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d